{% extends 'dashboard/base.html' %}

{% block content %}
    <table class="table table-detail alt" title="table">
                <thead>
                <tr>
                    <br><br>
                    <th class="col1">Booking id</th>
                    <th class="col2">Amount to be billed</th>
                    <th class="col3">Status of Order</th>
                    <th class="col4">Address</th>
                    <th class="col6">Contact Number</th>
                </tr>
                </thead>
                <tbody>
                                </tbody>
            </table>
{% endblock %}