{% extends 'dashboard/base.html' %}

{% block content %}
<div class="tab-content no-border">
        <!-- comments -->
        <div role="tabpanel" class="tab-pane active" id="comments">
            <!-- user-rating -->


			<ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="">
                    <a href="https://cocodocto.demo.cocorico.io/en/dashboard/review/reviews-received" aria-controls="comments" role="tab" data-text="Commentaires">
                        Ratings Received
                    </a>
                </li>
                            <li role="presentation" class="">
                    <a href="https://cocodocto.demo.cocorico.io/en/dashboard/user/edit-about-me" aria-controls="profile" role="tab" data-text="Mon profil">
                        Ratings Given
                    </a>
                </li>
                    </ul>


            <!-- form-radio -->
            <!--<form action="https://cocodocto.demo.cocorico.io/en/dashboard/review/reviews-received#" class="form-radio alt" novalidate="novalidate">
                <fieldset>
                    <ul class="list-inline">
                        <li>
                            <span class="jcf-radio jcf-checked input-checked-parent"><input value="/en/dashboard/review/reviews-received" type="radio" id="radio1" name="radio-rating-switcher" checked="" style="position: absolute; opacity: 0;"><span></span></span>
                            <label for="radio1" class="jcf-label-active input-checked">Rating Received</label>
                        </li>
                        <li>
                            <span class="jcf-radio jcf-unchecked"><input value="/en/dashboard/review/reviews-made" type="radio" id="radio2" name="radio-rating-switcher" style="position: absolute; opacity: 0;"><span></span></span>
                            <label for="radio2">Rating Made</label>
                        </li>
                    </ul>
                </fieldset>
            </form>-->


<section class="postarea notation-booking">
    <div class="posts-holder">
                <!-- post -->
                                </div>
</section>        </div>
    </div>
{% endblock %}